<mat-toolbar color="primary" class="app-header p-4">
  <div class="flex items-center space-x-4">
    <mat-icon class="text-white">trending_up</mat-icon>
    <span class="text-2xl font-semibold text-white">KnockoutLive</span>
  </div>

  <div class="flex ml-auto space-x-6">
    <a routerLink="home">
      <mat-icon class="text-white">home</mat-icon>
      <button mat-button class="text-white hover:bg-blue-500 p-2 rounded">Home</button>
    </a>
    <a routerLink="live-stream">
      <mat-icon class="text-white">screen_share</mat-icon>
    <button mat-button class="text-white hover:bg-blue-500 p-2 rounded">Live-Stream</button>
    </a>
    <a routerLink="watch">
      <mat-icon class="text-white">tv</mat-icon>
    <button mat-button class="text-white hover:bg-blue-500 p-2 rounded">Watch</button>
    </a>
    <a routerLink="user-profile">
      <mat-icon class="text-white">person</mat-icon>
      <button mat-button class="text-white hover:bg-blue-500 p-2 rounded">User Profile</button>
    </a>
  </div>
</mat-toolbar>
